/* Reset default margin and padding */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}
/* Your existing CSS styles */
:root {
  --primary-color: #45595a;
  --secondary-color: #8fa9b1;
  --tertiary-color: #e9b872;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  color: var(--primary-color);
}

p {
  color: var(--secondary-color);
}

a {
  color: var(--tertiary-color);
}

/* Transparent Header Styles */
.transparent-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.logo img {
  height: 50px;
}

.hamburger-menu {
  position: relative;
  width: 30px;
  height: 22.5px;
  cursor: pointer;
}

.hamburger-menu:before,
.hamburger-menu:after,
.hamburger-menu div {
  content: '';
  position: absolute;
  width: 100%;
  height: 4.5px;
  border-radius: 4.5px;
  background-color: var(--primary-color);
  transition: all .3s ease-in-out;
}

.hamburger-menu:before {
  top: -10px;
}

.hamburger-menu div {
  top: calc(50% - (4.5px /2));
}

.hamburger-menu:after {
  bottom: -10px;
}

.hamburger-menu.open:before,
.hamburger-menu.open div,
.hamburger-menu.open:after {
  top: calc(50% - (4.5px /2));
}

.hamburger-menu.open:before,
.hamburger-menu.open div,
.hamburger-menu.open:after {
  transform-origin:center center; 
}

.hamburger-menu.open:before {
  transform: rotate(-45deg);
}

.hamburger-menu.open div {
  opacity:0; 
}

.hamburger-menu.open:after {
  transform: rotate(45deg);
}

.main-nav {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
}

.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav li {
  padding: 12px 16px;
}

.main-nav li:hover {
  background-color: #f1f1f1;
}

.menu-icon:hover + .main-nav,
.main-nav:hover {
  display: block;
}
